#stage
	background: url("../images/Stage-1-Downtown-Springfield-small.jpg")
	background-size: cover
	border-top: 5px solid $myYellow
	.no-bg
		background: none
		display: inline-block

#comp-char
	transform: scaleX(-1)

#comp-char, #my-char
	width: 200px
	height: auto

#vs-wrapper
	width: 100%
	height: auto
	#vs
		display: none

.progress
	height: 50px
	margin-top: 10px
	background-color: $myDarkBlue
	border: 5px solid $myYellow

.progress-bar
	background-color: $myRed

.health-container
	height: auto
	width: 100%
	background: none